#header {
  font-weight: bold;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.smallImage {
  max-width: 60px;
  max-height: 60px;
}

.forecastRow {
  overflow-x: scroll;
}

.forecastContainer {
  flex: 0 0 calc(100% / 3);
}
