# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
/.codacy-coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.vscode
data.sql
cypress/integration/examples/
cypress/screenshots/
cypress/videos/
*.code-workspace
.nyc_output/
cypress-coverage/
coverage-reports/
jest-coverage/
styleLintReport.json
xunit.xml
cypress/results/
snyk-report.html
snyk-report.json
.snyk

.env.development
