.feed {
    .title:hover {
        font-weight: bold;
    }
}

.widgetHeader {
    .rssWidgetTitle {
        .rssTitle {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    font-weight: bold;
    a:link {
        text-decoration: none;
    }
}

.rssDescription {
    font-weight: bold;
}