.dash {
  width: 100%;

  .dashNavbar {
    text-align: center;
    min-width: 5vw;
    background-color: black;
    min-height: 100vh;

    .dashNavbarLink {
      margin: 10px;
    }
  }

  .tabsBar {
    width: 95vw;
  }
}

.clickableItem {
  cursor: pointer;
}

.selectedItem {
  background-color: blue;
}
